<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update room</title>
</head>
<body>

<div>
    <div style="margin-bottom: 5px;" th:text="${room.getPoints}"></div>
    <form action="#" th:method="POST" th:action="@{/rooms/updated/{id}(id=${room.getId()})}" th:object="${req}">
        <input type="text" name="req"  placeholder="Enter points">
        <button type="submit">Update!</button>
    </form>
    <span style="color: red" th:text="${message}"></span>
</div>

</body>
</html>